<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preload" href="../Style/bootstrap.min.css" as="style">
    <link rel="stylesheet" href="../Style/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/style.css">
    
    <title>SEA Infonet PVT. LTD.</title>
</head>
<body>
<%- include('navbar') %>
<%- include ('whoweare') %>
<%- include ('usp') %>
<%- include ('vision') %>
<%- include('awards') %>
<%- include('presence') %>
<%- include ('modalForm') %>


<%- include('footer') %>

<script src="../Javascript/script.js" defer></script>
<script src="../Javascript/bootstrap.bundle.min.js" defer></script>
</body>
</html>