<section class=" bg-white mb-4">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <h1><%= data.title %></h1>
        <p class="lead"><%= data.subtitle %></p>

        <ul >
          <% data.highlights.forEach(element => {%>
            <li><%= element %></li>
         <% }); %>
        </ul>

        <% data.buttons.forEach(element => {%>
          <a class="btn btn-primary me-2" href="<%= element.link %>"><%= element.text %> </a>
       <% }); %>
      </div>

      <div class="col-md-6 text-center">
        <img src="<%= data.image %>" class="img-fluid" alt="product">
      </div>

    </div>
  </div>
</section>